form {
    padding: 8px;
    height: 160px;
}

form md-input-container {
    width: 100%;
}

md-card {
    padding: 0px;
    width: 400px;
    min-height: 225px;
}

form md-input-container {
    height: 55px;
}

div.buttonContainer button {
    margin: 0px 5px 0px 5px;
}

@media (max-width: 600px) {
    md-card {
        width: 100%;
        max-width: 100%;
    }
}