<div class="container">
    <md-toolbar color="primary">
    	<span>Welcome to MyDirectDebit</span>
    </md-toolbar>
    <form (ngSubmit)="signUp()">
         <md-input-container>
            <input mdInput placeholder="Email address" [(ngModel)]="model.email" name="email">
        </md-input-container>
        <md-input-container>
            <input mdInput type="password" placeholder="Password" [(ngModel)]="model.password" name="password">
        </md-input-container>
        <button md-raised-button type="submit" color="primary">Sign Up</button>
    </form>
    <div fxLayout="row" fxLayoutAlign="end" class="secondaryLink">
        <a md-button href="/login">Back to login</a>    
    </div>
</div>