<div class="container loginForm">
    <md-toolbar color="primary" fxLayout="row" fxLayoutAlign="center">
    	<span>Welcome to MyDirectDebit</span>
    </md-toolbar>
    <span *ngIf="!complete">
        <form (ngSubmit)="signUp()">
             <md-input-container>
                <input mdInput placeholder="Email address" [(ngModel)]="model.email" name="email">
            </md-input-container>
            <md-input-container>
                <input mdInput type="password" placeholder="Password" [(ngModel)]="model.password" name="password">
            </md-input-container>
            <md-input-container>
                <input mdInput type="password" placeholder="Repeat Password" [(ngModel)]="model.repeatPassword" name="repeatPassword">
            </md-input-container>

            <div class="alert alert-danger fade" [ngClass]="{'hide': errors.length === 0}">
                <div *ngFor="let error of errors">
                {{ error.message}}
                </div>
            </div>
            
            <button md-raised-button type="submit" color="primary">Sign Up</button>
        </form>
        <div fxLayout="row" fxLayoutAlign="end" class="secondaryLink">
            <a md-button routerLink="../login">Back to Login</a>
        </div>
    </span>
    <span *ngIf="complete">
        Welcome to the future of DirectDebit!
        <br/>
        Please check your email and follow the link
    </span>
</div>