<h1 class="subheader" color="primary">View Mandates</h1>    

<div [ngSwitch]="user.type">

    <table class="material-table" *ngSwitchCase="'MERCHANT'">
        <thead>
            <tr>
                <th>Reference Number</th>
                <th>Registration Date</th>
                <th>Amount</th>
                <th>Frequency</th>
                <th>Customer Name</th>
                <th>Customer ID</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mandate of mandates">
                <td>{{mandate.referenceNumber}}</td>
                <td>{{mandate.registrationDate | date:'mediumDate'}}</td>
                <td class="numeric">{{mandate.amount | number:'1.2-2'}}</td>
                <td>{{mandate.frequency}}</td>
                <td>{{mandate.customer.name}}</td>
                <td>{{mandate.customer.idValue}} ({{mandate.customer.idType}})</td>
            </tr>
        </tbody>
    </table>

    <table class="material-table" *ngSwitchCase="'CUSTOMER'">
        <thead>
            <tr>
                <th>Reference Number</th>
                <th>Registration Date</th>
                <th>Amount</th>
                <th>Frequency</th>
                <th>Merchant Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mandate of mandates">
                <td>{{mandate.referenceNumber}}</td>
                <td>{{mandate.registrationDate | date:'mediumDate'}}</td>
                <td class="numeric">{{mandate.amount | number:'1.2-2'}}</td>
                <td>{{mandate.frequency}}</td>
                <td>{{mandate.merchant.companyName}}</td>
            </tr>
        </tbody>
    </table>

</div>
