<div class="container">
    <md-toolbar color="primary">Registration List</md-toolbar>
    
    <table class="material-table">
        <thead>
            <tr>
                <th>Account Holder Name</th>
                <th>ID Number</th>
                <th>Account Number</th>
                <th>Bank Abbreviation</th>
                <th>Registration Date</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let registration of registrations">
                <td>{{registration.accountHolderName}}</td>
                <td>{{registration.idNumber}}</td>
                <td>{{registration.accountNumber}}</td>
                <td>{{registration.bankAbbreviation}}</td>
                <td>{{registration.registrationDate | date:'mediumDate'}}</td>
                <td>{{registration.email}}</td>
            </tr>
        </tbody>
    </table>

    <a routerLink="/registration-form">Create</a>

</div>