<h1 class="subheader" color="primary">Registration List</h1>    
<table class="material-table">
    <thead>
        <tr>
            <th>Reference Number</th>
            <th>Registration Date</th>
            <th>Amount</th>
            <th>Frequency</th>
            <th>Customer Name</th>
            <th>Customer ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let registration of registrations">
            <td>{{registration.referenceNumber}}</td>
            <td>{{registration.registrationDate | date:'mediumDate'}}</td>
            <td>{{registration.amount}}</td>
            <td>{{registration.frequency}}</td>
            <td>{{registration.customer.name}}</td>
            <td>{{registration.customer.idValue}} ({{registration.customer.idType}})</td>
        </tr>
    </tbody>
</table>
