*.DS_Store
.mvn
**/*.idea/**
frontend/build
out
frontend/unit.xml
.project
.metadata

src/main/resources/lib/api/*

backend/.idea
backend/target
backend/src/main/resources/static/
backend/logs
backend/src/test/resources/db/dump.sql

frontend/node_modules
**/*.iml
frontend/.project
frontend/npm-debug.log

backend/performance.*.log
