<div class="container loginForm">
    <md-toolbar color="primary" fxLayout="row" fxLayoutAlign="center">
    	<span>MyDirectDebit</span>
    </md-toolbar>
    <form (ngSubmit)="login()">
         <md-input-container>
            <input mdInput placeholder="Username" [(ngModel)]="model.username" name="username">
        </md-input-container>
        <md-input-container>
            <input mdInput type="password" placeholder="Password" [(ngModel)]="model.password" name="password">
        </md-input-container>

        <div class="alert alert-danger fade" [ngClass]="{'hide': !showError}">
            Invalid username or password
        </div>

        <button md-raised-button type="submit" color="primary">Login</button>
    </form>
    <div fxLayout="row" fxLayoutAlign="end" class="secondaryLink">
        <a md-button routerLink="../signup">Join MyDirectDebit</a>
    </div>
</div>