form {
    display: flex;
    padding: 2em 2em 1em 2em;
    flex-direction: column
}

md-input-container {
	margin-bottom: 24px;
}

div.secondaryLink {
	padding: 10px;
}

.alert {
	padding: 5px;
	margin-bottom: 1em;
	opacity: 1;
}

md-input-container {
	margin-bottom: 0px;
}