<div class="container">
    <md-toolbar color="primary">
    	<span>My Direct Debit</span>
    </md-toolbar>
    <form (ngSubmit)="login()">
         <md-input-container>
            <input mdInput placeholder="Username" [(ngModel)]="model.username" name="username">
        </md-input-container>
        <md-input-container>
            <input mdInput type="password" placeholder="Password" [(ngModel)]="model.password" name="password">
        </md-input-container>
        <button md-raised-button type="submit" color="primary">Login</button>
    </form>
</div>