form {
    padding: 0px 8px 8px 8px;
    max-width: 500px;
}

h1 {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 12px;
}

/deep/ form md-input-container {
    width: 100%;
}

form > *:not(.alert) {
    height: 55px;
}

/deep/ div.align-horizontally {
	display: block;
}

/deep/ div.align-horizontally > *:nth-child(1) {
	width: 39%;
}

/deep/ div.align-horizontally > *:nth-child(2) {
	width: 59%;
}

div.buttonContainer button {
    margin: 0px 5px 0px 5px;
}

md-select[name="bank"] {
    width: 39%;
    display: flex;
    align-items: center;
}

/deep/ md-select[name="bank"] div {
    width: 100%;
}

object {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100px;
    width: 100px;
}