form {
    padding: 8px;
    max-width: 500px;
}

form md-input-container {
    width: 100%;
}

md-card {
    padding: 0px;
}

form > *:not(.alert) {
    height: 55px;
}

div.align-horizontally {
	display: block;
}

div.align-horizontally > *:nth-child(1) {
	width: 39%;
}

div.align-horizontally > *:nth-child(2) {
	width: 59%;
}

md-toolbar.mat-toolbar.mat-primary {
    background-image: url(../../../assets/BMW-logo.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
}

div.buttonContainer button {
    margin: 0px 5px 0px 5px;
}

md-input-container.selectContainer md-select {
    width: 100%;
}