<div fxLayout="column" fxLayoutAlign="center center">
    <form #registrationForm="ngForm">
        <h1 class="subheader" color="primary" *ngIf="mode != 'dialog'" fxLayout="row" fxLayoutAlign="space-between center">
            New Mandate
            <!-- Using object here instead of img so that it will be hidden if the merchant does not have a logo.
             See https://stackoverflow.com/questions/22051573/how-to-hide-image-broken-icon-using-only-css-html-without-js-->
            <object data="merchant/logo" type="image/jpg"></object>
        </h1>
        <md-input-container>
            <input mdInput placeholder="Reference Number" type="text" required [(ngModel)]="model.referenceNumber" name="referenceNumber" #referenceNumber="ngModel"/>
        </md-input-container>
        
        <span *ngIf="user" [ngSwitch]="user.type">
            <customer-information *ngSwitchCase="'MERCHANT'" [customer]="model.customer"></customer-information>
            <merchant-information *ngSwitchCase="'CUSTOMER'" [merchant]="model.merchant"></merchant-information>
        </span>

        <span *ngIf="!user">
            <merchant-information [merchant]="model.merchant"></merchant-information>
        </span>

        <md-select placeholder="Bank Name" [(ngModel)]="model.customerBankAccount.bank" name="bank">
            <md-option *ngFor="let bank of banks" [value]="bank">
                {{ bank.name }}
            </md-option>
        </md-select>

        <md-input-container>
            <input mdInput placeholder="Registration Date" [(ngModel)]="model.registrationDate" [mdDatepicker]="registrationDatePicker" name="registrationDate">
            <button mdSuffix [mdDatepickerToggle]="registrationDatePicker"></button>
        </md-input-container>
        <md-datepicker #registrationDatePicker></md-datepicker>

        <div class="align-horizontally">
            <md-input-container>
                <input mdInput placeholder="Amount" type="text" required [(ngModel)]="model.amount" name="amount" #amount="ngModel"/>
                <md-hint align="start" class="errorHint" *ngIf="!amount.valid && amount.touched">Please enter an amount</md-hint>
            </md-input-container>
            <md-select placeholder="Frequency" required [(ngModel)]="model.frequency" name="frequency">
                <md-option *ngFor="let frequency of frequencyTypes" [value]="frequency">
                    {{ frequency.displayValue }}
                </md-option>
            </md-select>
        </div>

        <md-input-container>
            <input mdInput placeholder="Maximum Frequency" type="number" required [(ngModel)]="model.maximumFrequency" name="maximumFrequency" #maximumFrequency="ngModel"/>
            <md-hint align="start" class="errorHint" *ngIf="!maximumFrequency.valid && maximumFrequency.touched">Please enter a max frequency</md-hint>
        </md-input-container>

        <md-input-container *ngIf="model.merchant.merchantSettings.purposeOfPayments.length === 0">
            <input mdInput placeholder="Purpose of Payment" type="text" [(ngModel)]="model.purposeOfPayment" name="purposeOfPayment" />
        </md-input-container>

        <md-input-container *ngIf="model.merchant.merchantSettings.purposeOfPayments.length > 0">
            <input mdInput placeholder="Purpose of Payment" type="text" [mdAutocomplete]="pop" [formControl]="popCtrl">
            <md-autocomplete #pop="mdAutocomplete">
                <md-option *ngFor="let purpose of filteredPurposes | async" [value]="purpose">
                    {{purpose}}
                </md-option>
            </md-autocomplete>
        </md-input-container>

        <div class="alert alert-danger fade" *ngIf="errors.length !== 0">
            <div *ngFor="let fieldError of errors">{{ fieldError.message}}</div>
        </div>
        <span [ngSwitch]="mode">
            <div class="buttonContainer" fxLayout="row" fxLayoutAlign="center center" *ngSwitchCase="'dialog'">
                <button md-raised-button type="button" (click)="close()">Close</button>
                <button md-raised-button type="button" (click)="save(registrationForm)">Save</button>
                <button [disabled]="!model.hasBankInformation()" color="primary" md-raised-button type="button" (click)="authorise(registrationForm)" *ngIf="model.status.value === 'NEW'">Proceed to FPX</button>
            </div>
            <div class="buttonContainer" fxLayout="row" fxLayoutAlign="center center" *ngSwitchDefault>
                <button md-raised-button type="button" routerLink="../mandate-list">Cancel</button>
                <button md-raised-button type="button" (click)="save(registrationForm)">Save</button>
                <button md-raised-button type="button" (click)="proceed(registrationForm)" color="primary">Proceed to FPX</button>
            </div>
        </span>
    </form>
</div>
