<h1 class="subheader" color="primary">Merchant Settings</h1>    
<form #merchantSettingsForm="ngForm" fxLayout="column">
	<div>
		<label>Logo</label>
		<input type="file" (change)="fileSelected($event.target.files[0])" placeholder="Select logo" name="logo">
	</div>
	<div>
		<label>Frequencies</label>
		<md-checkbox 
			*ngFor="let freq of allFrequencies" 
			(change)="updateFrequencies($event)"
			[checked]="selectedFrequencies.indexOf(freq.value) > -1"
			[value]="freq.value">
			{{freq.displayValue}}
		</md-checkbox>
	</div>
</form>
<div class="alert alert-success" *ngIf="showSuccess">
	Settings updated!
</div>
<button md-raised-button color="primary" type="button" (click)="save()">Save</button>