<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MDD_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/mydirectdebit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>mydirectdebit.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-4relative [%thread] %-5level %logger{35} | %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.ebikko.config" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="MDD_LOG"/>
    </logger>

    <logger name="net.sf.ehcache" level="INFO" additivity="false">
        <appender-ref ref="MDD_LOG" />
    </logger>

    <logger name="com.ebikko.mandate" level="DEBUG" additivity="false">
        <appender-ref ref="MDD_LOG" />
    </logger>

    <logger name="ebikko.MultiQuery" level="DEBUG" additivity="false">
        <appender-ref ref="MDD_LOG"/>
    </logger>

    <logger name="org.postgresql" level="DEBUG">
        <appender-ref ref="MDD_LOG"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="MDD_LOG" />
    </root>
</configuration>