<md-input-container>
    <input mdInput placeholder="Name" required [(ngModel)]="customer.name" name="accountHolderName" #name="ngModel"/>
    <md-hint align="start" class="errorHint" *ngIf="!name.valid && name.touched">Please enter a name</md-hint>
</md-input-container>
<md-input-container>
    <input mdInput placeholder="Email" type="email" required [(ngModel)]="customer.emailAddress" name="email" />
</md-input-container>
<md-input-container>
    <input mdInput placeholder="Phone Number" type="text" [(ngModel)]="customer.phoneNumber" name="phoneNumber" />
</md-input-container>
<div class="align-horizontally">
    <md-select placeholder="ID Type" required [(ngModel)]="customer.idType" name="idType" #idType="ngModel">
        <md-option *ngFor="let idType of idTypes" [value]="idType">
            {{ idType.displayValue }}
        </md-option>
    </md-select>
    <md-input-container>
        <input mdInput placeholder="ID Number" type="text" required [(ngModel)]="customer.idValue" name="idValue" #idValue="ngModel" />
        <md-hint align="start" class="errorHint" *ngIf="!idValue.valid && idValue.touched">Please your ID number</md-hint>
    </md-input-container>
</div>