<div>
    <md-card>
        <md-toolbar color="primary">FPX Authentication</md-toolbar>
        <form>
            <div id="usernameContainer" *ngIf="!loggedIn">
                <md-input-container>
                    <input mdInput placeholder="Username" required [(ngModel)]="model.username" name="username" />
                </md-input-container>
                <md-input-container>
                    <input mdInput type="password" placeholder="Password" required [(ngModel)]="model.password" name="password" />
                </md-input-container>
                <div class="buttonContainer" fxLayout="row" fxLayoutAlign="center center">
                    <button md-raised-button (click)="confirmPassword()" md-dialog-close>Cancel</button>
                    <button md-raised-button (click)="login()" color="primary">Login</button>
                </div>
            </div>
            <div id="secondPasswordContainer" *ngIf="loggedIn" fxFill fxLayout="column" fxLayoutAlign="space-between center">
                <div>
                    Authorizing {{mandate.amount}}RM from account number {{mandate.customer.bankAccounts[0].accountNumber}}, please enter your OTP
                </div>
                <md-input-container>
                    <input mdInput placeholder="One Time Password" type="text" required [(ngModel)]="model.otp" name="otp" />
                </md-input-container>
                <div class="buttonContainer" fxLayout="row" fxLayoutAlign="center center">
                    <button md-raised-button (click)="confirmPassword()" type="button" md-dialog-close>Cancel</button>
                    <button md-raised-button (click)="confirmPassword()" type="button" color="primary">Save</button>
                </div>
            </div>
        </form>
    </md-card>
</div>