<h1 class="subheader" color="primary">View Mandates</h1>    

<div [ngSwitch]="user.type">

    <table class="material-table mandateTable" *ngSwitchCase="'MERCHANT'">
        <thead>
            <tr>
                <th>Reference Number</th>
                <th>Registration Date</th>
                <th>Amount</th>
                <th>Frequency</th>
                <th>Customer Name</th>
                <th>Customer ID</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mandate of mandates" (click)="selectMandate(mandate)">
                <td>{{mandate.referenceNumber}}</td>
                <td>{{mandate.registrationDate | date:'mediumDate'}}</td>
                <td class="numeric">{{mandate.amount | number:'1.2-2'}}</td>
                <td>{{mandate.frequency.displayValue}}</td>
                <td>{{mandate.customer.name}}</td>
                <td>{{mandate.customer.idValue}} ({{mandate.customer.idType.displayValue}})</td>
                <td>{{mandate.status.displayValue}}</td>
            </tr>
        </tbody>
    </table>

    <table class="material-table mandateTable" *ngSwitchCase="'CUSTOMER'">
        <thead>
            <tr>
                <th>Reference Number</th>
                <th>Registration Date</th>
                <th>Amount</th>
                <th>Frequency</th>
                <th>Merchant Name</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mandate of mandates">
                <td>{{mandate.referenceNumber}}</td>
                <td>{{mandate.registrationDate | date:'mediumDate'}}</td>
                <td class="numeric">{{mandate.amount | number:'1.2-2'}}</td>
                <td>{{mandate.frequency.displayValue}}</td>
                <td>{{mandate.merchant.companyName}}</td>
                <td>{{mandate.status.displayValue}}</td>
                <td>    
                    <button md-icon-button mdTooltip="Update mandate" (click)="selectMandate(mandate)">
                        <md-icon>edit</md-icon>
                    </button>
                    <button md-icon-button mdTooltip="Terminate mandate" (click)="terminateMandate(mandate)" *ngIf="!mandate.isTerminated()">
                        <md-icon>cancel</md-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
